@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap');
@import "tailwindcss";


body {
  font-family: 'Epilogue', sans-serif;
}

.background {
  background-color: #644df6;
}

.backgroundMain {
  background-color: #be3cd4;
}

.newColor {
  color: #1a1a1a;
}

.coverLine {
  width: 100%;
  height: 2rem;
  background-color: #fff;
  position: absolute;
  bottom: -1.9rem;
  z-index: 3;
}